/* personalizados */
body .body-inner {
  overflow: hidden;
}
.background-dark_frm {
    background-color: #000000a1 !important;
    border: solid 1px #ffffff5e;
  }
  
  #header .header-inner #logo,
#header #header-wrap #logo {
  padding-top: 15px;
}
#header .header-inner #logo a > img, #header #header-wrap #logo a > img {
  height: 73px;
  padding-top: 15px;
}