.background-dark_frm {
    background-color: #000000a1 !important;
    border: solid 1px #ffffff5e;
  }
  
  #header .header-inner #logo,
#header #header-wrap #logo {
  padding-top: 15px;
}
#header .header-inner #logo a > img, #header #header-wrap #logo a > img {
  height: 64px;
  padding-bottom: 5px;
}

@media (max-width: 1024px){
.header-extras > ul .p-dropdown > a > i, .header-extras > ul > li > a > i {
    font-size: 25px !important;
}
.inspiro-slider .container {
  padding-left: 20px;
  padding-right: 20px;
}
}

i:not(.fa):not(.fab):not(.far):not(.fas) {
  font-size: 25px;
}

.header-extras > ul > li .p-dropdown a > span {
  top: -12px;
  font-size: 11px;
  right: -9px;
}

.inspiro-slider .slide .container, .inspiro-slider .slide .container-wide {
  padding-top: 80px;
  padding-bottom: 80px;
}
#footer .copyright-content {
  min-height: 80px;
  padding: 30px 0;
  background-color: #252525;
  font-size: 13px;
  color: white;
}

